services:

  prometheus:
    image: prom/prometheus:v3.6.0
    hostname: prometheus
    ports:
     - "9090:9090"
    volumes:
     - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command: "--config.file=/etc/prometheus/prometheus.yml"
    container_name: prometheus
 
  
  jmx-kafka1:
    image: sscaling/jmx-prometheus-exporter:0.12.0
    ports:
     - "5556:5556"
    environment:
     CONFIG_YML : "/etc/jmx_exporter/config.yml"
    volumes:
     - ./etc/jmx_exporter/jmx_exporter1.yml:/etc/jmx_exporter/config.yml
    container_name: jmx-kafka1
    depends_on:
     - kafka1


  jmx-kafka2:
    image: sscaling/jmx-prometheus-exporter:0.12.0
    ports:
     - "5557:5556"
    environment:
     CONFIG_YML : "/etc/jmx_exporter/config.yml"

    volumes:
     - ./etc/jmx_exporter/jmx_exporter2.yml:/etc/jmx_exporter/config.yml
    container_name: jmx-kafka2
    depends_on:
     - kafka2


  # jmx-kafka3:
  #   image: sscaling/jmx-prometheus-exporter:0.12.0
  #   ports:
  #    - "5558:5556"
  #   environment:
  #    CONFIG_YML : "/etc/jmx_exporter/config.yml"
  #   volumes:
  #    - ./etc/jmx_exporter/jmx_exporter3.yml:/etc/jmx_exporter/config.yml
  #   container_name: jmx-kafka3
  #   depends_on:
  #    - kafka3

  grafana:
    image: grafana/grafana:12.1.0
    ports:
     - "3000:3000"
    environment:
      GF_PATHS_DATA : /var/lib/grafana
      GF_SECURITY_ADMIN_PASSWORD : admin
    volumes:
     - ./grafana/provisioning:/etc/grafana/provisioning
     - ./grafana/dashboards:/var/lib/grafana/dashboards
    container_name: grafana


  # zookeeper:
  #   image: zookeeper:3.4.9
  #   hostname: zookeeper
  #   ports:
  #     - "2181:2181"
  #   environment:
  #     ZOO_MY_ID: 1
  #     ZOO_PORT: 2181
  #     ZOO_SERVERS: server.1=zookeeper:2888:3888
  #   volumes:
  #     - ./data/zookeeper/data:/data
  #     - ./data/zookeeper/datalog:/datalog

  kafka1:
    image: bitnami/kafka:4.0.0
    container_name: kafka1
    ports:
      - 9091:9091
      - 19091:19091
      - 29091:29091
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9091,CONTROLLER://:19091,CLIENT://:29091
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,CLIENT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka1:9091,CLIENT://kafka1:29091
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka1:19091,2@kafka2:19092,3@kafka3:19093
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
      - KAFKA_JMX_PORT=9991
    volumes:
      - ./data/kafka1/data:/var/lib/kafka/data    

  kafka2:
    image: bitnami/kafka:4.0.0
    container_name: kafka2
    ports:
      - 9092:9092
      - 19092:19092
      - 29092:29092
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:19092,CLIENT://:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,CLIENT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka2:9092,CLIENT://kafka2:29093
      - KAFKA_BROKER_ID=2
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka1:19091,2@kafka2:19092,3@kafka3:19093
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_NODE_ID=2
      - KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
      - KAFKA_JMX_PORT=9992
    volumes:
      - ./data/kafka2/data:/var/lib/kafka/data    

  kafka3:
    image: bitnami/kafka:4.0.0
    container_name: kafka3
    ports:
      - 9093:9093
      - 19093:19093
      - 29093:29093
    environment:
      - KAFKA_ENABLE_KRAFT=yes
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9093,CONTROLLER://:19093,CLIENT://:29093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,CLIENT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka3:9093,CLIENT://kafka3:29093
      - KAFKA_BROKER_ID=3
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka1:19091,2@kafka2:19092,3@kafka3:19093
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_NODE_ID=3
      - KAFKA_KRAFT_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
      - KAFKA_JMX_PORT=9993
    volumes:
      - ./data/kafka3/data:/var/lib/kafka/data  

  # kafka1:
  #   image: confluentinc/cp-kafka:5.3.0
  #   hostname: kafka1
  #   ports:
  #     - "9091:9091"
  #     - 9991:9991
  #   environment:
  #     KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka1:19091,LISTENER_DOCKER_EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9091
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
  #     KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
  #     KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
  #     KAFKA_BROKER_ID: 1
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #     CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka1:19091
  #     CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
  #     CONFLUENT_METRICS_ENABLE: 'false'
  #     KAFKA_JMX_PORT: 9991
  #   volumes:
  #     - ./data/kafka1/data:/var/lib/kafka/data
  #   depends_on:
  #     - zookeeper

  # kafka2:
  #   image: confluentinc/cp-kafka:5.3.0
  #   hostname: kafka2
  #   ports:
  #     - "9092:9092"
  #     - 9992:9992
  #   environment:
  #     KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka2:19092,LISTENER_DOCKER_EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
  #     KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
  #     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  #     KAFKA_BROKER_ID: 2
  #     CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka1:19092
  #     CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
  #     CONFLUENT_METRICS_ENABLE: 'false'
  #     KAFKA_JMX_PORT: 9992
  #   volumes:
  #     - ./data/kafka2/data:/var/lib/kafka/data
  #   depends_on:
  #     - zookeeper 

  # kafka3:
  #   image: confluentinc/cp-kafka:5.3.0
  #   hostname: kafka3
  #   ports:
  #     - 9093:9093
  #     - 9994:9994
  #   environment:
  #     KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka3:19093,LISTENER_DOCKER_EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9093
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
  #     KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
  #     KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
  #     KAFKA_BROKER_ID: 3
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #     CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka1:19093
  #     CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
  #     CONFLUENT_METRICS_ENABLE: 'false'
  #     KAFKA_JMX_PORT: 9994
  #   volumes:
  #     - ./data/kafka3/data:/var/lib/kafka/data
  #   depends_on:
  #     - zookeeper

  kafdrop:
    container_name: kafdrop
    image: obsidiandynamics/kafdrop:4.2.1-SNAPSHOT
    restart: "no"
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka1:29091"
    # depends_on:
    #   - kafka1
    #   - kafka2
    #   # - kafka3

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:v0.7.2
    ports:
      - 8080:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka1:29091
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: first
      KAFKA_CLUSTERS_0_METRICS_PORT: 9991
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: kafka1:29091
      # KAFKA_CLUSTERS_1_NAME: second
      # KAFKA_CLUSTERS_1_BOOTSTRAPSERVERS: kafka2:29092
      # KAFKA_CLUSTERS_1_METRICS_PORT: 9992
      # KAFKA_CLUSTERS_2_NAME: third
      # KAFKA_CLUSTERS_2_BOOTSTRAPSERVERS: kafka3:29093
      # KAFKA_CLUSTERS_2_METRICS_PORT: 9993
      DYNAMIC_CONFIG_ENABLED: 'true'

  # kafka-manager:
  #   image: hlebalbau/kafka-manager:3.0.0.5-7e7a22e
  #   ports:
  #     - "9001:9000"
  #   # links:
  #   #   - zoo1
  #   #   - kafka1
  #   #   - zoo3
  #   #   - zoo2
  #   #   - kafka2
  #   #   - kafka3
  #   environment:
  #     ZK_HOSTS: zookeeper:2181

    # volumes:
    #   - ~/kui/config.yml:/etc/kafkaui/dynamic_config.yaml










