services:

  kibana:
    container_name: kibana
    image: kibana:8.15.0 #8.14.0
    restart: always
    ports:
      - "5602:5601"
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
    volumes:
      - type: bind
        source: kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    networks:
      - elasticsearchnetwork 
    deploy:
      replicas: $kibana      

  logstash-es:
    container_name: logstash-es
    image: logstash:8.15.0  #8.14.0
    restart: always
    ports:
      - "5002:5001"
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elasticsearchnetwork   
    volumes:
      - type: bind
        source: ./logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        read_only: true
      - type: bind
        source: ./logstash-es.conf
        target: /usr/share/logstash/pipeline/logstash.conf
        read_only: true
    deploy:
      replicas: $logstashes     

  filebeat-es:
    image: elastic/filebeat:8.15.0
    container_name: filebeat-es
    restart: unless-stopped
    command: filebeat -e -strict.perms=false
    volumes:
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - flog_data:/logs/flog_data:ro
      - log-generator_data:/logs/log-generator_data:ro
    networks:
      - elasticsearchnetwork
    deploy:
      replicas: $filebeates  


  elasticsearch:
    container_name: elasticsearch
    image: elasticsearch:8.15.0 #8.14.0
    restart: always
    ports:
      - "9201:9200"
    expose:
      - 9200  
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      ELASTIC_USERNAME: "admin"
      ELASTIC_PASSWORD: "admin"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - elasticsearchnetwork  
    deploy:
      replicas: $elasticsearch      

  zookeeper:
    container_name: zookeeper
    image: zookeeper:3.9.2
    ports:
      - "2181:2181"
    networks:
      - elasticsearchnetwork
    deploy:
      replicas: $zookeeper   

  kafka1:
    image: confluentinc/cp-kafka:7.7.0
    container_name: kafka1
    ports:
      - 9091:9091
      - 19091:19091
      - 9991:9991
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_HEAP_OPTS: "-Xmx256M -Xms256M"
      KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_EXTERNAL://kafka1:9091,LISTENER_DOCKER_INTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:19091
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
      KAFKA_BROKER_ID: 1
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka1:9091
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONNECT_CONFLUENT_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      CONFLUENT_METRICS_ENABLE: 'false'
      KAFKA_JMX_PORT: 9991
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - kafka1_data:/var/lib/kafka/data  
    depends_on:
      - zookeeper
    networks:
      - elasticsearchnetwork
    deploy:
      replicas: $kafka1   

  jmx-kafka1:
    image: sscaling/jmx-prometheus-exporter:0.12.0
    ports:
     - "5556:5556"
    environment:
     CONFIG_YML : "/etc/jmx_exporter/config.yml"
    volumes:
     - ./jmx_exporter1.yml:/etc/jmx_exporter/config.yml
    container_name: jmx-kafka1
    networks:
      - elasticsearchnetwork
    depends_on:
     - kafka1
    deploy:
      replicas: $jmxkafka1

  kafdrop:
    container_name: kafdrop
    image: obsidiandynamics/kafdrop:4.0.1
    ports:
      - "9095:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka1:9091
      JVM_OPTS: "-Xms64M -Xmx64M"
      SERVER_SERVLET_CONTEXTPATH: "/"
    depends_on:
      - kafka1
    networks:
      - elasticsearchnetwork
    deploy:
      replicas: $kafdrop

volumes:
  elasticsearch_data:
  kafka-map_data:
  kafka1_data:

networks:
  elasticsearchnetwork: